.shop-page {
    width: 95%;
    margin: 40px auto;
    padding: 35px 55px;
    border: 0 solid #9aa0a6;
    background-color: #f8f6f3;
    font-family: arial, sans-serif;
    color: #2d2730;
}
.search {
    width: 28px;
    cursor: pointer;
}
.search:hover {
    color: #ceb383;
}
.shop-hero {
    margin-bottom: 40px;
}
.shop-hero h1 {
    font-family: Georgia, serif;
    font-size: 68px;
    font-weight: normal;
    margin: 10px;
}
.shop-hero p {
    width: 520px;
    font-size: 18px;
    line-height: 1.5;
    color: #555;
}
.shop-content {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}
.filters {
    width: 210px;
    flex-shrink: 0;
}
.filter-group {
    margin-bottom: 50px;
}
.filter-group h4,
.price-row h4 {
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.filter-group label {
    display: block;
    margin-bottom: 13px;
    font-size: 17px;
    color: #555;
}
.filter-group label:hover {
    color: #ceb383;
    text-decoration: underline;
}
.length-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}
.length-options button {
    background: transparent;
    border: 1px solid #ccc;
    padding: 9px 25px;
    cursor: pointer;
}
.price-row {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
input[type="range"] {
    width: 100%;
}
.clear-btn {
    width: 100%;
    padding: 22px;
    background-color: #222027;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.clear-btn:hover {
    color: #222027;
    background-color: #c9b28b;
}
.products-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 65px 45px;
}
.shop-card {
    position: relative;
}
.shop-card img {
    width: 70%;
    height: 350px;
    object-fit: cover;
    /* margin-bottom: 18px; */
}
.shop-card h3 {
    font-family: georgia, serif;
    font-size: 20px;
    font-weight: normal;
    /* margin-bottom: 5px; */
}
.shop-card p {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.shop-card span {
    display: block;
    margin-bottom: 18px;
    color: #c9b28b;
}
.shop-card button {
    width: 70%;
    padding: 14px;
    background: transparent;
    color: #d1bd8a;
    border: 1px solid #ddd;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
}
.shop-card button:hover {
    color: white;
    background-color: #222027;
}
.badge {
    position: absolute;
    /* top: 10px; */
    left: 46%;
    background: transparent;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid #d1bd8a;
    color: #d1bd8a;
}
.shop-bottom {
    margin-left: 270px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.shop-bottom p {
    letter-spacing: 2px;
    font-size: 17px;
}
.pagination {
    display: flex;
    gap: 22px;
}
.pagination a {
    text-decoration: none;
    color: #555;
}
.pagination a:hover {
    text-decoration: underline;
    color: #d1bd8a;
}
.shop-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    padding-bottom: 80px;
}
.footer-brand {
    width: 360px;
}
.footer-brand h3 {
    font-family: Georgia,  serif;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
.footer-brand p {
    line-height: 1.6;
    color: #555;
}
.footer-column h4 {
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
.footer-column a {
    display: block;
    text-decoration: none;
    color: #555;
    margin-bottom: 13px;
}
.footer-column a:hover {
    color: #c9b28b;
}
.footer-end {
    border-top: 1px solid #ddd;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    letter-spacing: 2px;
    color: #777;
}
/* MEDIA RESPONSIVENESS  */
@media (max-width: 1024px) {
    .shop-page {
        padding: 30px;
    }
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .shop-hero h1 {
        font-size: 52px;
    }
}
@media (max-width: 768px) {
    .shop-page {
        padding: 25px;
    }
    .shop-hero {
        text-align: center;
    }
    .shop-hero h1 {
        font-size: 42px;
    }
    .shop-hero p {
        width: 100%;
    }
    .shop-content {
        flex-direction: column;
        gap: 40px;
    }
    .filters {
        width: 100%;
    }
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    .shop-bottom {
        margin-left: 0;
        flex-direction: column;
        gap: 40px;
    }
    .shop-footer {
        flex-direction: column;
        gap: 40px;
    }
    .footer-brand {
        width: 100%;
    }
}
/* 480 */
@media (max-width: 480px) {
    .search {
        width: 18px;
        cursor: pointer;
    }
    .shop-page {
        padding: 18px;
    }
    .shop-hero {
        margin-bottom: 30px;
    }
    .shop-hero h1 {
        font-size: 34px;
    }
    .shop-hero p {
        font-size: 14px;
    }
    .filters {
        width: 100%;
    }
    .filter-group label {
        font-size: 13px;
    }
    .length-options button {
        padding: 8px;
        font-size: 11px;
    }
    .clear-btn {
        padding: 18px;
        font-size: 11px;
    }
    .shop-card img {
        height: 250px;
        width: 100%;
    }
    .badge {
        left: 46%;
        background: transparent;
        padding: 2px 5px;
        font-size: 13px;
        border: 1px solid #ad9f7c;
        color: rgb(1, 1, 1);
    }
    .shop-card h3 {
        font-size: 18px;
    }
    .shop-card button {
        padding: 12px;
        font-size: 9px;
    }
    .shop-bottom p {
        font-size: 11px;
    }
    .pagination {
        gap: 15px;
    }
    .shop-footer {
        margin-bottom: 80px;
        padding-bottom: 50px;
    }
    .footer-brand h3 {
        font-size: 20px;
    }
    .footer-end {
        font-size: 9px;
        text-align: center;
    }
}